.root {
  width: 1200px;
}

.column-item {
  position: relative;
  background-color: bisque;
}
  
.react-grid-item.react-grid-placeholder {
  background: #000;
  opacity: 0.2; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.react-grid-item.react-grid-draggable {
  opacity: 0.2;
}

.scale-item{
  display: inline-block;
}